body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0px;
    padding: 10px 150px 10px 0px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.himg {
    display: block;
    max-height: 40px;
}

.logo {
    padding: 10px 0px 10px 150px;
}

.hlist {
    display: flex;
    gap: 16px;
}

.welcome {
    display: flex;
    background-color: black;
    padding: 75px;
}

.wtext {
    padding-left: 5px;
    margin: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pone,
.ptwo,
.bone {
    color: white;
    margin: 15px;
}

.pone {
    font-size: 45px;
    font-weight: 700;
}

.ptwo {
    font-size: 20px;
}

.bone {
    background-color: blue;
    font-weight: 700;
    padding: 10px 24px;
    border: 5px;
    border-radius: 10px;
}

.wimg {
    display: block;
    max-height: 250px;
    margin: 50px;
    padding-right: 25px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cimg {
    width: 210px;
    height: 150px;
    border: 5px solid black;
}

.ctext {
    padding: 8px;
}

.card {
    width: 300px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.cardbox {
    display: flex;
    gap: 20px;
    padding: 0px 50px 100px;
}

.quote {
    background-color: lightgrey;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qtext {
    width: 600px;
    font-size: 35px;
    font-style: italic;
}

.quser {
    font-weight: 900;
    font-size: 20px;
    padding-left: 410px;
}

.container {
    background-color: goldenrod;
    border-radius: 10px;
    padding: 50px;
    margin: 100px 200px;
    display: flex;
    justify-content: space-between;
}

.sone {
    font-size: 25px;
    font-weight: 900;
}

.stwo {
    font-size: 18.5px;
}

.sthree {
    border: 2px solid black;
    border-radius: 8px;
    background-color: goldenrod;
    color: black;
    padding: 10px 30px;
}

.stext {
    padding-left: 50px;
}

.sbutton {
    padding-top: 5px;
    padding-right: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 50px;
}